<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


  <!-- Demo steps -->
  <div class="container">
  
    <!-- Step 1 -->
    <% include ./partials/create-de.ejs %>
  
    <!-- Step 2 -->
    <% include ./partials/get-api-key.ejs %>

    <!-- Step 3 -->
    <div class="card mt-3">
      <div class="card-block">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%" scope="col">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    
                  </td>
                  <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
                </tr>
              </tbody>
      </div>
    </div>

    <!-- Step 4 -->
    <% var stepTitle = 'Step 4: Load sample data'; %>
    <% include ./partials/load-data.ejs %>
      
  </div>


</body>
</html>