<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="card mt-3">
    <div class="card-block">
      <div class="card-header text-white">Step 3: Get an OAuth access token</div>
      <div class="card-body">
        <h6 class="card-subtitle mb-3">You need an OAuth access token to authenticate REST API calls to Marketing Cloud.</h6>
        <p class="card-text">Click <kbd>EXECUTE REQUEST</kbd> to call the Marketing Cloud REST Auth service and get back an OAuth access token. This token is valid for 60 minutes.</p>
        <p class="card-text">The demo app updates <mark>YOUR_CLIENT_ID</mark> and <mark>YOUR_CLIENT_SECRET</mark> in the JSON body with your <code>ClientID</code> and <code>ClientSecret</code> from environment variables before calling POST.</p>

        <div class="table-responsive">       
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th style="width: 50%" scope="col">
                  <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                    onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                </th>
                <th style="width: 50%" scope="col">RESPONSE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
             
                <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
    <div class="table-responsive">       
      <button type="button" id="btnLoadData" class="btn btn-primary"
      onclick="doRestGet('/loaddata','textLoadDataPostResponse')">EXECUTE REQUEST</button>
    </div>
</body>
</html>