<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

    <div class="card mt-3">
      <div class="card-block">
        <div class="card-body">
          <div class="table-responsive">       
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
          </div>
        </div>
      </div>
    </div>
          <button type="button" id="btnGetOauthToken" class="btn btn-primary"
            onclick="doRestGet('/appdemoauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
        <th style="width: 50%" scope="col">RESPONSE</th>

</body>
</html>