<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

  <div class="card mt-3">
    <div class="card-block">
      <div class="card-body">
        <div class="table-responsive">       
                  <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                    onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">Get access token</button>
                <td><pre id="textOauthPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
        </div>


      </div>
    </div>
  </div>
<div class="card mt-3">
  <div class="card-block">
    <div class="card-body">
  <div class="table-responsive">       
    <button type="button" id="btnLoadData" class="btn btn-primary"
    onclick="doRestGet('/loaddata','textLoadDataPostResponse')">EXECUTE REQUEST</button>
    <td><pre id="textLoadDataPostResponse">Click <kbd>EXECUTE REQUEST</kbd> to see response.</pre></td>
  </div>
    </div>
  </div>
</div>
</body>
</html>