<!DOCTYPE html>
<html>
<head>
  
</head>

<body>

  <div class="container">
    <div class="card mt-3">
      <div class="card-block">
              <thead class="thead-light">
                <tr>
                  <th style="width: 50%" scope="col">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                  </th>
                </tr>
              </thead>
              <button type="button" id="btnLoadData" class="btn btn-primary"
                                onclick="doRestGet('/loaddata','textLoadDataPostResponse')">EXECUTE REQUEST</button>
      </div>
    </div>

  </div>


</body>
</html>