<!DOCTYPE html>
<html>
<head>
  
</head>

<body>


                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
                

</body>
</html>