<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>

    <div class="card mt-3">
      <div class="card-block">
        <div class="card-body">
          <div class="table-responsive">       
            <table class="table table-bordered">
              <thead class="thead-light">
                    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
                      onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">EXECUTE REQUEST</button>
          </div>


        </div>
      </div>
    </div>

</body>
</html>