<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <button type="button" id="btnGetOauthToken" class="btn btn-primary"
    onclick="doRestGet('/apidemooauthtoken','textOauthPostResponse')">Get access token</button>
</body>
</html>